@mixin button-shadow {
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
}

@mixin button {
	@include user-select(none);
	@include button-shadow;
	position: relative;
	display: inline-block;
	padding: 0.625rem 2.125rem;
	border: 2px solid;
	border-color: $primary-color;
	border-radius: 0.25rem;
	font-family: $font-family-base;
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	line-height: $line-height-input;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.2s ease-out;
	color: $primary-color;
	background-color: #fff;

	&:hover,
	&:focus {
		color: $primary-color;
		background-color: #f3f3f3;
	}
}

@mixin button-primary {
	@include font-smoothing;
	color: #fff;
	background-color: $primary-color;

	&:hover,
	&:focus {
		color: #fff;
		background-color: $primary-color-darker;
		border-color: $primary-color-darker;
	}
}

@mixin button-disabled {
	color: #bdbdbd;
	background-color: #e0e0e0;
	border-color: #e0e0e0;
	box-shadow: none;
	cursor: not-allowed;

	&:hover,
	&:focus {
		color: #bdbdbd;
		background-color: #e0e0e0;
		border-color: #e0e0e0;
	}
}

@mixin button-small {
	padding: 0.5rem 1.5rem;
	border-width: 1px;
	font-size: 0.875rem;
}

@mixin button-medium {
	padding: 0.625rem 2.125rem;
	border-width: 2px;
	font-size: 1rem;
}

@mixin button-large {
	padding: 0.75rem 2.375rem;
	border-width: 2px;
	border-radius: 0.3125rem;
	letter-spacing: 0.02rem;
	text-transform: uppercase;
	font-size: 1rem;
}

.btn {
	@include button;
}
.btn-primary {
	@include button-primary;
}
.btn-disabled,
.btn:disabled,
.btn:disabled[disabled] {
	@include button-disabled;
}
.btn-large {
	@include button-large;
}
.btn-small {
	@include button-small;
}
