/* Comments */
.comments-area {
	padding-top: 3.375rem;
}
.entry + .comments-area {
	margin-top: 3.375rem;
	border-top: 1px solid;
	border-color: #e8e8e8;
}
.comments-title {
	@include h4;
	margin-top: 0;
	margin-bottom: 2.8125rem;
	text-align: center;
}

/* Comments list */
.comments-list,
.comments-list .children {
	list-style: none;
}
.comments-list {
	padding-left: 0;
}
.comments-list .comment,
.comments-list .pingback {
	margin-bottom: 3rem;
}
.comments-list .comment:last-child {
	margin-bottom: 0;
}
.comments-list .comment .children {
	padding-left: 3.75rem;
	margin-top: 3rem;
}

/* Comments Navigation */
.comments-nav {
	@include clearfix;
	margin-top: 4.625rem;
}
.comments-nav a {
	color: #333;
}
.comments-nav a:hover,
.comments-nav a:focus {
	color: $primary-color;
}
.comments-nav-prev {
	float: left;
}
.comments-nav-next {
	float: right;
}

/* "Comments are closed" message */
.comments-closed {
	margin-top: 5rem;
	margin-bottom: 1.375rem;
	font-style: italic;
	text-align: center;
	color: #959595;
}

/* Comment content */
.comment-body {
	position: relative;
}
.comment .comment-footer {
	min-height: 4rem;
	margin-bottom: 0.5rem;
}
.pingback .comment-footer {
	margin-bottom: 0.25rem;
}
.comment-author-avatar {
	float: left;
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
	border-radius: 50%;
}
.comment-author-name {
	position: relative;
	top: -0.5rem;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: bold;
}
.comment-author-name,
.comment-author-name a {
	color: #333;
}
.comment-author-label {
	@include user-select(none);
	position: relative;
	left: 0.5rem;
	top: -0.625rem;
	display: inline-block;
	padding: 0 0.625rem;
	font-size: 0.6875rem;
	border: 1px solid #959595;
	border-radius: 19% / 50%;
	cursor: default;
	white-space: nowrap;
}
.comment-date {
	margin-top: -0.5rem;
	font-size: 0.8125rem;
}
.comment-date a {
	color: #959595;
}
.comment-date a:hover {
	color: $primary-color;
}
.comment-actions {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.875rem;
}
.comment-actions a {
	display: inline-block;
	margin-left: 1.5rem;
	color: #333;
}
.comment-actions a:hover {
	color: $primary-color;
}
.comment-edit-link::before,
.comment-reply-link::before {
	@include font-smoothing;
	font-family: 'typicons';
	margin-right: 0.25rem;
}
.comment-edit-link::before {
	content: '\e0c3';
}
.comment-reply-link::before {
	content: '\e006';
}
.comment-awaiting-moderation {
	font-size: 0.875rem;
	font-style: italic;
	color: #959595;
}
.comment-content {
	@include clearfix;
	font-size: 0.875rem;
}
.comment-content > :first-child {
	margin-top: 0;
}
.comment-content > :last-child {
	margin-bottom: 0;
}

/* Comment by Post Author */
.bypostauthor .comment-author-label {
	border-color: #333;
	background-color: #333;
	color: #fff;
}

/* Comment Respond */
.comment-respond {
	margin-top: 3rem;
}
.comment-respond:first-child {
	margin-top: 0;
}
.comment-respond .comment-reply-title {
	@include h4;
	margin-top: 0;
	margin-bottom: 0.6875rem;
	text-align: center;
}

/* Comment Respond inside Comment */
.comment .comment-respond {
	padding-left: 3.75rem;
	margin-top: 1.75rem;
	margin-bottom: 2.5rem;
}
