/* Post entry */
.entry-content > :first-child,
.entry-excerpt > :first-child {
	margin-top: 0;
}
.entry-content > :last-child,
.entry-excerpt > :last-child {
	margin-bottom: 0;
}
.entry-image {
	@include rounded;
	margin-bottom: 2rem;
	overflow: hidden;
}
.entry-image img {
	display: block;
	max-height: 25.5rem;
	object-fit: cover;
}
.entry-title {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-size: 1.9375rem;
	font-weight: normal;
	line-height: 1.25;
	word-wrap: break-word;
}
.entry-title,
.entry-title a {
	color: $text-color;
}
.entry-title a:hover {
	color: $primary-color;
}
.entry-content {
	@include clearfix;
}
.entry-excerpt {
	margin-bottom: 1.4375rem;
}
.entry-meta {
	margin-bottom: 1.5rem;
	font-size: 0.875rem;
	color: $text-color-gray;
}
.entry-meta:last-child {
	margin-bottom: 0;
}
.entry-meta a {
	color: $text-color;
	&:hover {
		color: $primary-color;
	}
}
.entry-more-link {
	@include button;
	@include button-small;
	box-shadow: none;
}
.entry--preview .entry-image {
	margin-bottom: 1.375rem;
}
.entry--preview .entry-title,
.entry--preview .entry-meta {
	margin-bottom: 1rem;
}
.entry--preview:not(.has-post-thumbnail):not(.sticky) .entry-title {
	margin-top: -0.625rem;
}
.entry--preview .entry-date a {
	font-weight: bold;
	color: $primary-color;
	&:hover {
		color: $primary-color-darker;
	}
}

/* Featured/sticky post */
.sticky {
	@include rounded;
	position: relative;
	padding: 1rem;
	border: 1px solid;
	border-color: #e1e1e1;
	background-color: #fafafa;
}
.sticky .entry-sticky-badge {
	position: absolute;
	display: block;
	right: -1px;
	top: -1px;
	width: 3.5rem;
	height: 3.5rem;
	border-top-right-radius: 0.1875rem;
	overflow: hidden;
}
.sticky .entry-sticky-badge::before {
	content: '';
	display: block;
	position: absolute;
	width: 5.5rem;
	height: 5.5rem;
	background-color: $primary-color;
	transform: translate(0, -2rem) rotate(45deg) translate(0, -1.3125rem);
}
.sticky .entry-sticky-badge::after {
	@include font-smoothing;
	position: absolute;
	top: 0.375rem;
	right: 0.5rem;
	display: block;
	font-family: 'Typicons';
	font-size: 1.5rem;
	line-height: 1.5rem;
	content: '\e0c8';
	color: #fff;
}

/* Page content */
.page-content {
	@include clearfix;
}
.page-content > :last-child {
	margin-bottom: 0;
}

/* Page links */
.page-links {
	margin-top: 1rem;
}

/* Alignment */
.alignleft,
.alignright,
.aligncenter,
.alignnone {
	margin-top: 0.5625rem;
	margin-bottom: 0.5625rem;
}
.alignleft {
	float: left;
	margin-left: 0;
	margin-right: 1.875rem;
}
.alignright {
	float: right;
	margin-left: 1.875rem;
	margin-right: 0;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Caption */
.wp-caption,
.gallery-caption {
	max-width: 100%;
	font-size: 0.875rem;
	text-align: center;
	color: $text-color-gray;
}
.wp-caption .wp-caption-text {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

/* Gallery */
.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
.gallery-item {
	margin-right: 1%;
	margin-left: 1%;
	flex: 0 0 30%;
	width: 30%;
	max-width: 30%;
}
.gallery-item img {
	margin: 0 auto;
}
.gallery-columns-1 .gallery-item {
	margin-right: 0;
	margin-left: 0;
	flex: 0 0 100%;
	width: 100%;
	max-width: 100%;
}
.gallery-columns-2 .gallery-item {
	flex: 0 0 48%;
	width: 48%;
	max-width: 48%;
}

/* 404 page content */
.error-404 {
	text-align: center;
}

/* No Results page */
.no-results > :first-child {
	margin-top: 0;
}
.no-results-title {
	@include h3;
}
