/* Section Heading */
.section-heading {
	max-width: 29rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5rem;
}
.section-heading h1,
.section-heading h2,
.section-heading h3,
.section-heading h4,
.section-heading h5,
.section-heading h6 {
	margin-top: 0;
	margin-bottom: 0.75rem;
	font-size: 2.25rem;
}
.section-heading p {
	margin-left: auto;
	margin-right: auto;
	font-size: 0.875rem;
	color: $text-color-gray;
}
.section-heading .decor-line {
	display: block;
	margin-top: 0.75rem;
	height: 0.1875rem;
}
.section-heading .decor-line::after {
	content: '';
	display: inline-block;
	width: 7rem;
	height: 0.1875rem;
	border-radius: 0.1875rem;
	vertical-align: top;
	background-color: $primary-color;
}

/* Logo box */
.logo-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.25rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
.logo-box-item {
	max-width: 9.25rem;
	max-height: 6.25rem;
	margin-bottom: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.logo-box-item--wide {
	max-width: 14rem;
}
.logo-box-item img {
	max-width: 100%;
	height: auto;
}
@media (min-width: $screen-md-min) {
	.logo-box {
		justify-content: space-between;
	}
}

/* Icon list */
.icon-list {
	padding-left: 0;
}
.icon-list li {
	position: relative;
	padding-left: 2rem;
	margin-bottom: 0.3125rem;
}
.icon-list li i:first-child {
	@include font-smoothing;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-size: 1.125rem;
	font-style: normal;
	line-height: 1.5;
	color: lighten($primary-color, 10%);
}

/* Working hours list */
.working-hours-list {
	padding-left: 0;
	max-width: 32rem;
}
.working-hours-list li {
	display: flex;
	flex-direction: row;
}
/* Hours */
.working-hours-list li span:last-child {
	flex: 0 0 auto;
	padding-left: 1rem;
}
/* Weekday */
.working-hours-list li span:first-child {
	flex: 1 0 0;
	display: flex;
	flex-direction: row;
}
/* Dot leaders decoration */
.working-hours-list li span:first-child::after {
	flex: 1 0 0;
	align-self: flex-end;
	position: relative;
	top: -0.5rem;
	display: block;
	height: 0.125rem;
	margin-left: 0.125rem;
	border-bottom: 0.125rem dotted;
	content: '';
}

/* Service Table */
.service-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: none;
	font-size: 0.875rem;
}
.service-table thead tr {
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ddd;
	background-color: #ddd;
}
.service-table tbody tr {
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: $border-color;
}
.service-table th,
.service-table td {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	border: none;
}

/* Call to action box */
.cta-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3.5rem;
	padding-bottom: 3.75rem;
	text-align: center;
}
.cta-box-copy {
	margin-bottom: 1.875rem;
}
.cta-box-copy > :first-child {
	margin-top: 0;
}
.cta-box-copy > :last-child {
	margin-bottom: 0;
}
.cta-box-copy h1,
.cta-box-copy h2,
.cta-box-copy h3 {
	@include font-smoothing;
	font-size: 2.8125rem;
	font-weight: 200;
	line-height: 1;
}
/* Call to action box vertical */
.cta-box--vertical {
	max-width: 46.875rem;
	margin-left: auto;
	margin-right: auto;
}
/* Call to action box with image in the middle */
.cta-box--image-middle .cta-box-image {
	order: 1;
}
.cta-box--image-middle .cta-box-image img {
	position: absolute;
	bottom: 0;
	display: block;
	max-width: none;
}
@media (min-width: $screen-md-min) {
	.cta-box--horizontal {
		flex-direction: row;
		justify-content: center;
		text-align: inherit;
	}
	.cta-box--horizontal .cta-box-copy {
		margin-bottom: 0;
		margin-right: 1rem;
	}
	.cta-box--horizontal .cta-box-button {
		margin-top: 0.25rem;
		margin-left: 5rem;
	}
	.cta-box--image-middle .cta-box-image {
		flex: none;
		height: 0 !important;
		margin-left: auto;
		margin-right: auto;
	}
	.cta-box--image-middle .cta-box-button {
		order: 2;
	}
}

/* Service Preview Card */
.service-card {
	@include shadow;
	@include rounded;
	margin-bottom: 2rem;
	overflow: hidden;
	background-color: #fff;
}
.service-card-image {
	position: relative;
	padding-top: 58%;
	overflow: hidden;
}
.service-card-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.service-card-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 5.25rem;
	padding: 0.75rem 1.5rem 0.8rem;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.3125rem;
	font-weight: 300;
	color: #333;
}
@media (min-width: $screen-md-min) {
	.service-card-title {
		transition: all 0.2s ease-in;
	}
	.service-card:hover .service-card-title {
		transition-timing-function: ease-out;
		color: $primary-color;
	}
}

/* Services Carousel */
.services-carousel {
	max-width: 30rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto 6rem;
}
.services-carousel--no-dots {
	margin-bottom: 2.75rem;
}
.services-carousel-inner:not(.flickity-enabled) {
	overflow-x: scroll;
	white-space: nowrap;
}
.services-carousel-inner:not(.flickity-enabled) .services-carousel-cell {
	display: inline-block;
	white-space: normal;
}
.services-carousel-cell {
	width: 100%;
	padding: 1rem;
	transform: translate3d(0, 0, 0);
}
.services-carousel-cell > * {
	width: 100%;
	max-width: 19rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
.services-carousel .flickity-prev-next-button {
	opacity: 1;
	background-color: transparent;
}
.services-carousel .flickity-prev-next-button .arrow {
	fill: #c4c4c4;
}
.services-carousel .flickity-prev-next-button.previous {
	left: -2.1875rem;
}
.services-carousel .flickity-prev-next-button.next {
	right: -2.1875rem;
}
.services-carousel .flickity-page-dots .dot {
	width: 0.9375rem;
	height: 0.9375rem;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	border: 1px solid;
	border-color: #c4c4c4;
	background-color: transparent;
	opacity: 1;
}
.services-carousel .flickity-page-dots {
	bottom: -3rem;
}
.services-carousel .flickity-page-dots .dot.is-selected {
	border-color: #828282;
	background-color: #828282;
}
@media (min-width: $screen-sm-min) {
	.services-carousel .flickity-prev-next-button.previous {
		left: -2.6875rem;
	}
	.services-carousel .flickity-prev-next-button.next {
		right: -2.6875rem;
	}
	.services-carousel {
		max-width: none;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.services-carousel-cell {
		width: 21rem;
	}
}
@media (min-width: $screen-md-min) {
	.services-carousel {
		padding-left: 0.0625rem;
		padding-right: 0.0625rem;
	}
	.services-carousel-cell {
		width: 19.5625rem;
	}
}
@media (min-width: $screen-lg-min) {
	.services-carousel {
		padding-left: 1.125rem;
		padding-right: 1.125rem;
	}
	.services-carousel-cell {
		width: 23rem;
	}
}

/* Services Grid */
.services-grid {
	margin-left: -1rem;
	margin-right: -1rem;
}
.services-grid-inner {
	display: flex;
	flex-flow: row wrap;
	max-width: 24.5rem;
	margin-left: auto;
	margin-right: auto;
}
.services-grid-item {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}
@media (min-width: $screen-sm-min) {
	.services-grid-inner {
		max-width: none;
	}
	.services-grid-item {
		width: 50%;
	}
}
@media (min-width: $screen-md-min) {
	.services-grid-item {
		width: 33.333333%;
	}
}

/* Testimonial Card */
.testimonial-card {
	@include rounded;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 4rem 1.625rem 1.875rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
	background-color: #f9f9f9;
}
.testimonial-card::before,
.testimonial-card footer::before {
	display: none;
}
.testimonial-card-text {
	margin-bottom: 1.875rem;
	font-size: 0.875rem;
	font-weight: normal;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
	color: #4f4f4f;
}
.testimonial-card-author {
	margin-top: auto;
	font-style: normal;
}
.testimonial-card-author-avatar {
	position: absolute;
	top: 0;
	left: 50%;
	width: 4.25rem;
	height: 4.25rem;
	border-radius: 50%;
	overflow: hidden;
	transform: translate(-50%, -50%);
}
.testimonial-card-author-avatar img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.testimonial-card-author-title {
	@include h6;
	display: block;
	margin-bottom: 0;
	text-align: center;
	color: $text-color-dark;
}
.testimonial-card-author-subtitle {
	display: block;
	margin-top: 0.25rem;
	font-size: 0.875rem;
	text-align: center;
}

/* Testimonials Carousel */
.testimonials-carousel {
	max-width: 30rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto 6rem;
}
.testimonials-carousel--no-dots {
	margin-bottom: 2.75rem;
}
.testimonials-carousel-cell {
	width: 100%;
	padding: 1rem;
	transform: translate3d(0, 0, 0);
}
.testimonials-carousel-cell > * {
	width: 100%;
	max-width: 30.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
.testimonials-carousel .flickity-prev-next-button {
	opacity: 1;
	background-color: transparent;
}
.testimonials-carousel .flickity-prev-next-button .arrow {
	fill: #c4c4c4;
}
.testimonials-carousel .flickity-prev-next-button.previous {
	left: -2.1875rem;
}
.testimonials-carousel .flickity-prev-next-button.next {
	right: -2.1875rem;
}
.testimonials-carousel .flickity-page-dots .dot {
	width: 0.9375rem;
	height: 0.9375rem;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
	border: 1px solid;
	border-color: #c4c4c4;
	background-color: transparent;
	opacity: 1;
}
.testimonials-carousel .flickity-page-dots {
	bottom: -3rem;
}
.testimonials-carousel .flickity-page-dots .dot.is-selected {
	border-color: #828282;
	background-color: #828282;
}
.testimonials-carousel-inner:not(.flickity-enabled) {
	overflow-x: scroll;
	white-space: nowrap;
}
.testimonials-carousel-inner:not(.flickity-enabled) .testimonials-carousel-cell {
	display: inline-block;
	white-space: normal;
}
@media (min-width: $screen-sm-min) {
	.testimonials-carousel {
		max-width: none;
	}
}
@media (min-width: $screen-md-min) {
	.testimonials-carousel-cell > * {
		max-width: none;
	}
	.testimonials-carousel--columns-2 .testimonials-carousel-cell {
		width: 50%;
	}
}
@media (min-width: $screen-lg-min) {
	.testimonials-carousel {
		padding-left: 3.25rem;
		padding-right: 3.25rem;
	}
	.testimonials-carousel .flickity-prev-next-button.previous {
		left: -4.25rem;
	}
	.testimonials-carousel .flickity-prev-next-button.next {
		right: -4.25rem;
	}
}

/* Post Preview Card */
.post-card {
	@include shadow;
	@include rounded;
	padding-bottom: 1.5625rem;
	margin-bottom: 2rem;
	overflow: hidden;
	background-color: #fff;
	transform: translate3d(0, 0, 0);
}
.post-card-image {
	position: relative;
	padding-top: 58%;
	margin-bottom: 1.1875rem;
	overflow: hidden;
}
.post-card-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.post-card-title {
	margin-left: 1.625rem;
	margin-right: 1.625rem;
	margin-bottom: 0;
	font-weight: 300;
	font-size: 1.1875rem;
	line-height: 1.5rem;
	text-align: center;
	color: #333;
}
.post-card-date {
	@include font-smoothing;
	display: block;
	text-align: center;
	font-size: 0.875rem;
	color: #bdbdbd;
}
@media (min-width: $screen-md-min) {
	.post-card-title {
		transition: all 0.2s ease-in;
	}
	.post-card:hover .post-card-title {
		transition-timing-function: ease-out;
		color: $primary-color;
	}
}

/* Recent Posts */
.recent-posts {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 1.75rem;
}
.recent-posts > * {
	flex: 1 0 0;
	width: 0;
	max-width: 23rem;
	margin-left: auto;
	margin-right: auto;
}
.recent-posts > :nth-child(2),
.recent-posts > :nth-child(3) {
	display: none;
}
@media (min-width: $screen-sm-min) {
	.recent-posts > * {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}
	.recent-posts > * + * {
		margin-left: 2rem;
	}
	.recent-posts > :nth-child(2) {
		display: block;
	}
}
@media (min-width: $screen-md-min) {
	.recent-posts > :nth-child(3) {
		display: block;
	}
}

/* Project Preview Card */
.project-card {
	@include shadow;
	@include rounded;
	margin-bottom: 2rem;
	overflow: hidden;
	background-color: #fff;
	transform: translate3d(0, 0, 0);
}
/* Project Card Style 1 */
.project-card--style-1 {
	height: 18.625rem;
}
.project-card--style-1 .project-card-image {
	width: 100%;
	height: 100%;
}
.project-card--style-1 .project-card-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project-card--style-1 .project-card-title {
	@include font-smoothing;
	position: absolute;
	left: 0;
	right: 3.75rem;
	bottom: 2rem;
	display: flex;
	align-items: center;
	height: 6.125rem;
	padding: 1.25rem;
	margin-bottom: 0;
	border-top-right-radius: 0.1875rem;
	border-bottom-right-radius: 0.1875rem;
	font-size: 1.25rem;
	font-weight: 300;
	color: #fff;
	background-color: rgba($primary-color, 0.90);
}
@media (min-width: $screen-md-min) {
	.project-card--style-1 .project-card-title {
		transition: all 0.2s;
	}
	.project-card--style-1:hover .project-card-title {
		border-radius: 0;
		right: 0;
		bottom: 0;
		height: 8.125rem;
		padding-right: 5rem;
	}
}
/* Project Card Style 2 */
.project-card--style-2 .project-card-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 6.125rem;
	padding: 1.1875rem 1.3125rem 1.25rem;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.1875rem;
	font-weight: 300;
	color: $primary-color;
}
.project-card--style-2 .project-card-image {
	position: relative;
	padding-top: 58%;
	max-height: 12.5rem;
	overflow: hidden;
}
.project-card--style-2 .project-card-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media (min-width: $screen-md-min) {
	.project-card--style-2 .project-card-title {
		transition: all 0.2s ease-in;
	}
	.project-card--style-2 .project-card:hover .project-card-title {
		transition-timing-function: ease-out;
		color: $primary-color-darker;
	}
}

/* Projects Grid */
.projects-grid {
	margin-left: -1rem;
	margin-right: -1rem;
}
.projects-grid-inner {
	display: flex;
	flex-flow: row wrap;
	max-width: 24.5rem;
	margin-left: auto;
	margin-right: auto;
}
.projects-grid-item {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}
@media (min-width: $screen-sm-min) {
	.projects-grid-inner {
		max-width: none;
	}
	.projects-grid-item {
		width: 50%;
	}
}
@media (min-width: $screen-md-min) {
	.projects-grid-item {
		width: 33.333333%;
	}
}

/* Image Section */
.image-section {
	position: relative;
}
.image-section-content {
	padding-top: 4.375rem;
	padding-bottom: 5rem;
}
.image-section-content > :first-child {
	margin-top: 0;
}
.image-section-content > :last-child {
	margin-bottom: 0;
}
.image-section-image img {
	display: block;
	width: 100%;
}
@media (max-width: $screen-sm-max) {
	.image-section-content {
		max-width: 33rem;
		margin-left: auto;
		margin-right: auto;
	}
	.image-section--image-mobile-hide .image-section-image {
		display: none;
	}
}
@media (min-width: $screen-md-min) {
	.image-section-image {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	.image-section-image img {
		height: 100%;
		object-fit: cover;
	}
	.image-section-content {
		width: 50%;
	}

	.image-section--content-left .image-section-image {
		right: 0;
	}
	.image-section--content-left .image-section-content {
		margin-right: auto;
	}
	.image-section--content-right .image-section-image {
		left: 0;
	}
	.image-section--content-right .image-section-content {
		margin-left: auto;
	}
	.image-section--content-center .image-section-content {
		margin-left: auto;
		margin-right: auto;
	}

	.image-section--cover-image .image-section-image {
		width: 50%;
		height: 100%;
	}
	.image-section--cover-image.image-section--content-left .image-section-content {
		padding-right: 6%;
	}
	.image-section--cover-image.image-section--content-right .image-section-content {
		padding-left: 6%;
	}

	.image-section--boxed-image .image-section-image {
		@include rounded;
		@include shadow;
		width: 50%;
		top: 3.75rem;
		bottom: 3.75rem;
		overflow: hidden;
	}
	.image-section--boxed-image .container {
		margin-left: -1rem;
	}
	.image-section--boxed-image .image-section-content {
		padding-top: 5.625rem;
		padding-bottom: 5.625rem;
	}
	.image-section--boxed-image.image-section--content-left .image-section-content {
		padding-right: 7%;
	}
	.image-section--boxed-image.image-section--content-right .image-section-content {
		padding-left: 7%;
	}

	.image-section--bg-image .image-section-image {
		z-index: -1;
		width: 100%;
		left: 0;
	}
	.image-section--bg-image .image-section-content {
		padding: 3.75rem;
		background-color: #f9f9f9;
	}
}

/* Counter Box */
.counter-box {
	margin-bottom: 2.625rem;
	text-align: center;
}
.counter-box > :first-child {
	margin-top: 0;
}
.counter-box > :last-child {
	margin-bottom: 0;
}
.counter-box h1,
.counter-box h2,
.counter-box h3,
.counter-box h4,
.counter-box h5,
.counter-box h6 {
	font-family: $font-family-base;
	line-height: $line-height-base;
	margin-top: 0;
}
.counter-box-number {
	display: block;
	margin-bottom: 1.5rem;
	font-family: $font-family-heading;
	font-size: 3rem;
	line-height: 1;
	color: $primary-color;
}
@media (min-width: $screen-sm-min) {
	.counter-box-number {
		margin-bottom: 1.8125rem;
		font-size: 4rem;
	}
}

/* Feature Box */
.feature-box-copy > :first-child {
	margin-top: 0;
}
.feature-box-copy > :last-child {
	margin-bottom: 0;
}
.feature-box-icon {
	position: relative;
	line-height: 1;
}
.feature-box-icon > span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
/* Feature Box with small icon */
.feature-box--small-icon {
	padding: 3.375rem 3.125rem 3.375rem 6.325rem;
}
.feature-box--small-icon .feature-box-icon {
	position: absolute;
	margin-left: -2.5rem;
	padding-top: 3rem;
	font-size: 3rem;
	color: $primary-color;
}
/* Feature Box with large icon */
.feature-box--large-icon {
	padding: 3.375rem 3.125rem 4.875rem;
	text-align: center;
}
.feature-box--large-icon .feature-box-icon {
	margin-bottom: 2rem;
	height: 4.5rem;
	font-size: 4.5rem;
	line-height: 1;
	color: $primary-color;
}
/* Feature Box icon in circle */
.feature-box--icon-circle .feature-box-icon {
	width: 8.25rem;
	height: 8.25rem;
	padding: 1.6875rem;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid;
	border-radius: 50%;
	border-color: #e5e5e5;
	background-color: #fff;
}
.feature-box--icon-circle .feature-box-icon .entypo-icon,
.feature-box--icon-circle .feature-box-icon .vc-oi {
	margin-top: -0.125rem;
}
.feature-box--icon-circle .feature-box-icon .fa {
	margin-top: -0.0625rem;
}
.feature-box--icon-circle .feature-box-icon .typcn,
.feature-box--icon-circle .feature-box-icon .vc-mono {
	margin-top: -0.1875rem;
}
.feature-box--icon-circle .feature-box-icon .vc_li {
	margin-top: 0.25rem;
	margin-left: 0.0625rem;
}
.feature-box--icon-circle .feature-box-icon [class^="ti-"],
.feature-box--icon-circle .feature-box-icon [class*=" ti-"] {
	margin-top: 0.0625rem;
}
.feature-box--icon-circle .feature-box-icon .ti-truck {
	margin-top: -0.25rem;
	margin-left: -0.0625rem;
}
/* Feature Box with background icon */
.feature-box--bg-icon {
	position: relative;
	z-index: 0;
	padding: 3.75rem;
}
.feature-box--bg-icon .feature-box-icon {
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	font-size: 11.25rem;
	color: #ddd;
}

/* Parallax effect container */
.jarallax {
	position: relative;
	z-index: 0;
}
