input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	@include rounded;
	width: 100%;
	padding: 0.625rem 0.75rem;
	line-height: $line-height-input;
	vertical-align: middle;
	box-shadow: none;
	border: 1px solid;
	border-color: $input-border-color;
	background-color: transparent;
	color: #333;
	transition-property: border-color, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	&:focus {
		border-color: $primary-color;
		background-color: #fff;
		outline: none;
	}
}
select {
	width: auto;
	height: 2rem;
	padding: 0;
	text-indent: 0.1875rem;
}
/* Select 2 */
.select2-container .select2-selection--single {
	height: 2.8125rem;
	border-color: $input-border-color;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-top: 0.4375rem;
	padding-left: 0.75rem;
	padding-right: 1.5rem;
}
.select2-container--open .select2-selection--single {
	border-left-color: $primary-color;
	border-right-color: $primary-color;
}
.select2-container--above.select2-container--open .select2-selection--single {
	border-bottom-color: $primary-color;
}
.select2-container--below.select2-container--open .select2-selection--single {
	border-top-color: $primary-color;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 2.75rem;
}
.select2-dropdown {
	border-color: $primary-color;
}

/* Search form */
.search-form {
	position: relative;
	font-size: 0.875rem;
	max-width: 22rem;
}
.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0.625rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	border: 0;
	line-height: 1;
	color: #828282;
	background-color: transparent;
	cursor: pointer;
	transition: color 0.2s;
	&:hover {
		color: $primary-color;
	}
}
.search-form .search-submit	.icon {
	@include font-smoothing;
	font-size: 2.25rem;
}
/* Search Form in the Header */
.site-header-search-bar .search-field {
	border-color: #a5a5a5;
}
@media (min-width: $screen-md-min) {
	.site-header-search-bar .search-submit {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear 0.2s, opacity 0.2s ease-out;
	}
	.site-header-search-bar .search-field:focus + .search-submit {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}
/* Search Form on Sidebar */
.sidebar-content .search-form {
	max-width: 25rem;
}
/* Search Form on 404 page */
.error-404 .search-form {
	display: inline-block;
	max-width: 100%;
	width: 20rem;
}

/* Comment form */
.comment-form {
	font-size: 0.875rem;
}
.comment-form p {
	margin-bottom: 1.5rem;
}
.comment-form label {
	display: inline-block;
	margin-bottom: 0.5rem;
}
.comment-form .comment-notes {
	text-align: center;
	color: $text-color-gray;
}
.comment-form .logged-in-as {
	text-align: center;
}
.comment-form .form-submit {
	margin-top: 1.75rem;
	margin-bottom: 0;
	text-align: center;
}
.comment-form .submit {
	@include button;
	@include button-small;
	box-shadow: none;
}

/* Post Password Form */
.post-password-form p:last-child {
	padding: 2rem;
	text-align: center;
	background-color: #f9f9f9;
}
.post-password-form input[type="password"] {
	width: 100%;
	margin: 0.5rem 0 1rem;
	background-color: #fff;
}
.post-password-form input[type="submit"] {
	@include button;
	box-shadow: none;
}
@media (min-width: $screen-sm-min) {
	.post-password-form input[type="password"] {
		width: auto;
		margin: 0 1rem 0 0.75rem;
	}
}

/* Contact Form 7 */
.wpcf7 {
	font-size: 0.875rem;
}
.wpcf7 label {
	display: block;
	margin-bottom: 0.25rem;
}
.wpcf7 select {
	width: 100%;
}
.wpcf7-submit {
	margin-top: 0.375rem;
}
.wpcf7-response-output {
	text-align: center;
}
div.wpcf7 .ajax-loader {
	position: relative;
	top: 0.125rem;
	left: 0.5rem;
}
