/* Header Layout */
.site-header {
	position: relative;
}
.site-header-branding {
	min-width: 4rem;
	min-height: 4rem;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.site-header-menu {
	border-top: 1px solid;
	border-color: #e8e8e8;
}
.site-header-menu .container {
	padding-left: 0;
	padding-right: 0;
}
.site-header-search-bar {
	padding-left: 1rem;
	padding-right: 1rem;
}
.site-header-featured-content {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.site-header-featured-content-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (min-width: 420px) {
	.site-header-featured-content-column {
		flex-direction: row;
	}
}
@media (max-width: $screen-sm-max) {
	.site-header-search-bar {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}
	.site-header-search-bar:last-child {
		margin-bottom: 1rem;
	}
	.site-header-search-bar:not(.is-toggled) {
		display: none;
	}
	.site-header-search-bar .search-form {
		min-width: 18rem;
	}
}
@media (min-width: $screen-sm-min) {
	.site-header-branding {
		margin-left: calc(50% - #{$container-sm / 2});
	}
}
@media (min-width: $screen-md-min) {
	.site-header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	.site-header-branding {
		flex: 0 0 auto;
		margin-left: calc(50% - #{$container-md / 2});
		margin-right: auto;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
	.site-header-search-bar {
		flex: 1 0 auto;
		width: 0;
		max-width: 16rem;
		margin-left: auto;
	}
	.site-header-search-bar + .site-header-featured-content {
		margin-left: 1rem;
	}
	.site-header-featured-content {
		flex: 0 0 auto;
		margin-left: auto;
		display: flex;
		flex-direction: row-reverse;
	}
	.site-header-search-bar:last-child,
	.site-header-featured-content {
		margin-right: calc(50% - #{$container-md / 2});
	}
	.site-header-featured-content-column {
		flex-direction: row-reverse;
	}
	.site-header-menu {
		flex: 0 0 100%;
		order: 1;
	}
}
@media (min-width: $screen-lg-min) {
	.site-header-branding {
		margin-left: calc(50% - #{$container-lg / 2});
	}
	.site-header-search-bar:last-child,
	.site-header-featured-content {
		margin-right: calc(50% - #{$container-lg / 2});
	}
}

/* Top Bar */
.top-bar {
	height: 3.125rem;
	border-bottom: 1px solid;
	border-color: #e8e8e8;
	font-size: 0.875rem;
}
.top-bar .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
@media (max-width: $screen-xs-max) {
	.top-bar {
		display: none;
	}
}

/* Header Branding */
.site-branding-text .site-title {
	margin-top: 0;
	margin-bottom: 0;
	font-family: $font-family-heading;
	font-weight: 800;
	font-size: 1.5rem;
	line-height: 1;
	letter-spacing: 0.03rem;
}
.site-branding-text .site-title a {
	color: $primary-color;
}
.site-branding-text .site-description {
	margin-bottom: 0;
	font-size: 0.75rem;
	line-height: 1.25;
	color: $text-color-gray;
}
.hide-site-branding-text .site-branding-text {
	@include screen-reader-text;
}
@media (min-width: $screen-md-min) {
	.site-branding-text {
		margin-top: 0.75rem;
		margin-bottom: 0.75rem;
	}
	.site-branding-text .site-title {
		font-size: 2rem;
	}
	.site-branding-text .site-description {
		font-size: 1rem;
	}
}

/* Custom Logo */
.custom-logo {
	display: block;
	width: auto;
	height: auto;
	max-width: 60vw;
	max-height: 4rem;
	margin-right: 0.5rem;
}
@media (min-width: $screen-md-min) {
	.custom-logo {
		max-height: 5.125rem;
	}
}

/* Menu Toggle Button */
// TODO: Positioning mobile menu button is a bit tricky. Current solution is hacky,
// because it relies on logo_padding theme mod to properly align menu button with
// custom logo.
.mobile-menu-toggle {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 0;
	transform: translateY(10%);
	padding: 1.25rem;
	border: none;
	outline: none;
	box-shadow: none;
	background-color: transparent;
	cursor: pointer;
}
.mobile-menu-toggle .mobile-menu-toggle-bar {
	display: block;
	height: 3px;
	width: 24px;
	border-radius: 3px;
	background-color: #333;
	transition: all 0.1s ease-in;
}
.mobile-menu-toggle .mobile-menu-toggle-bar + .mobile-menu-toggle-bar {
	margin-top: 3px;
}
.mobile-menu-toggle.is-toggled .mobile-menu-toggle-bar {
	transition-timing-function: ease-out;
}
.mobile-menu-toggle.is-toggled .mobile-menu-toggle-bar-1 {
	transform: translateY(6px) rotate(-45deg);
}
.mobile-menu-toggle.is-toggled .mobile-menu-toggle-bar-2 {
	opacity: 0;
}
.mobile-menu-toggle.is-toggled .mobile-menu-toggle-bar-3 {
	transform: translateY(-6px) rotate(45deg);
}
@media (min-width: $screen-sm-min) {
	.mobile-menu-toggle {
		right: calc(50% - #{$container-sm / 2});
	}
}
@media (min-width: $screen-md-min) {
	.mobile-menu-toggle {
		display: none;
	}
}

/* Header Featured Content */
.header-featured-content {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.header-featured-content-icon {
	@include font-smoothing;
	margin-right: 0.5rem;
	text-align: center;
	font-size: 1.875rem;
	line-height: 1;
}
.header-featured-content-icon:not(.header-featured-content-icon--circled) {
	color: $primary-color;
}
.header-featured-content-icon--circled {
	min-width: 3rem;
	min-height: 3rem;
	width: 3rem;
	height: 3rem;
	line-height: 2.86rem;
	line-height: calc(3rem - 2px);
	margin-right: 1rem;
	border-radius: 50%;
	text-align: center;
	background-color: $primary-color;
	color: #fff;
}
.header-featured-content-text {
	line-height: 1.375;
	font-size: 0.9375rem;
}
.header-featured-content-text p {
	margin-bottom: 0;
}
.nur-customizer .header-featured-content-placeholder {
	margin-left: 1rem;
	width: 10rem;
	min-height: 3rem;
	max-height: 100%;
	border: 1px dashed;
	border-color: #3486b7;
}
@media (min-width: $screen-sm-min) {
	.header-featured-content {
		padding-left: 1rem;
		padding-right: 1rem;
		justify-content: space-between;
		align-items: center;
	}
	.header-featured-content-text {
		font-size: 0.8125rem;
	}
}

/* Page Header */
.page-header {
	position: relative;
	height: 18.75rem;
	text-align: center;
}
.page-header .page-title {
	@include font-smoothing;
	order: 1;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.25rem;
	line-height: 1.125;
	word-wrap: break-word;
}
.page-header .breadcrumbs {
	@include font-smoothing;
	margin-bottom: 0.5rem;
	font-size: 1.125rem;
	line-height: 1.25;
}
.page-header .breadcrumbs a {
	display: inline-block;
	text-decoration: none;
}
.page-header-image {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.page-header-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.page-header-inner {
	height: 100%;
	background-color: rgba($primary-color-darker, 0.1);
	color: #fff;
}
.page-header-inner a {
	color: #fff;
}
.page-header-inner .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
