/* Page content layout */
.site-content {
	@include clearfix;
	outline: none;
}
.main-wrap,
.sidebar-wrap {
	margin-top: 4.375rem;
	margin-bottom: 4.375rem;
}
.hide-page-header .main-wrap,
.hide-page-header .sidebar-wrap {
	margin-top: 1.5rem;
	margin-bottom: 3.75rem;
}
@media (min-width: $screen-md-min) {
	.has-sidebar .main-wrap {
		float: left;
		width: 100%;
		padding-right: 29%;
	}
	.blog.has-sidebar .main-wrap,
	.single-post.has-sidebar .main-wrap {
		padding-right: 31%;
	}
	.sidebar-wrap {
		float: left;
		width: 26%;
		margin-left: -26%;
	}
}

/* Archive Loop */
.archive-loop-item {
	margin-bottom: 3.75rem;
}
.archive-loop-item:last-child {
	margin-bottom: 0;
}
.archive-loop + .pagination {
	margin-top: 3.75rem;
}
