/* Primary navigation */
.primary-navigation {
	font-family: $font-family-menu;
	font-weight: bold;
	font-size: 0.875rem;
	letter-spacing: 0.01em;
}
.primary-navigation ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.primary-navigation ul li > a {
	display: block;
	padding: 0.75rem 1rem;
	color: $text-color-dark;
}
.primary-navigation ul ul {
	font-weight: normal;
}
@media (max-width: $screen-sm-max) {
	.primary-navigation {
		display: none;
	}
	.primary-navigation.is-toggled {
		display: block;
	}
	.primary-navigation ul li {
		position: relative;
	}
	.primary-navigation ul li > a,
	.primary-navigation ul ul {
		border-bottom: 1px solid;
		border-color: #e8e8e8;
	}
	.primary-navigation ul li > a {
		&:hover, &:focus {
			background-color: #f5f5f5;
		}
	}
	.primary-navigation ul ul li:last-child > a {
		border-bottom: 0;
	}
	.primary-navigation ul li.current-menu-item > a {
		color: $primary-color;
	}
	.primary-navigation ul ul {
		padding-left: 1.5rem;
	}
	.primary-navigation ul ul li > a {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	/* Submenu toggling */
	.primary-navigation .sub-menu-toggle {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		padding: 0.375rem 1rem;
		border: 0;
		outline: none;
		background-color: transparent;
		cursor: pointer;
	}
	.primary-navigation .sub-menu-toggle-icon {
		display: block;
		width: 2.25rem;
		height: 2.25rem;
		line-height: 2.25rem;
		border: 1px solid;
		border-radius: 0.25rem;
		border-color: #666;
		font-family: 'FontAwesome';
		font-size: 0.75rem;
		font-weight: normal;
		color: #333;
	}
	.primary-navigation .sub-menu-toggle-icon::after {
		display: block;
		content: '\f078';
		transition: all 0.2s;
	}
	.primary-navigation .sub-menu-toggle.is-toggled .sub-menu-toggle-icon::after {
		transform: rotate(-180deg);
	}
	.js .primary-navigation ul:not(.sub-menu) > li > .sub-menu {
		display: none;
	}
	.js .primary-navigation ul > li > .sub-menu.is-toggled {
		display: block;
	}
}
@media (min-width: $screen-md-min) {
	.primary-navigation ul {
		display: flex;
		flex-flow: row wrap;
	}
	.primary-navigation ul li {
		position: relative;
	}
	.primary-navigation ul li > a {
		text-transform: uppercase;
		transition-duration: 0.2s;
	}
	.primary-navigation ul li:hover > a,
	.primary-navigation ul li.current-menu-item > a,
	.primary-navigation ul li.current-menu-ancestor > a {
		color: $primary-color;
	}
	.primary-navigation ul li.menu-item-has-children > a::after {
		content: '\00a0\f107';
		font-family: 'FontAwesome';
	}
	.primary-navigation ul ul {
		position: absolute;
		z-index: 200;
		top: 100%;
		left: 0;
		display: block;
		min-width: 14rem;
		visibility: hidden;
		border-top: 1px solid;
		border-color: #f2f2f2;
		border-radius: 0.3125rem;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
		font-size: 1rem;
		white-space: nowrap;
		background-color: #fff;
		opacity: 0;
		transform: translate3d(0, -1rem, 0);
		transition: all 0.2s ease-out;
	}
	.primary-navigation ul ul li > a {
		text-transform: none;
	}
	.primary-navigation ul ul li:hover > a {
		background-color: #f5f5f5;
		color: #333;
	}
	.primary-navigation ul ul li:first-child > a {
		border-top-left-radius: 0.3125rem;
		border-top-right-radius: 0.3125rem;
	}
	.primary-navigation ul ul li:last-child > a {
		border-bottom-left-radius: 0.3125rem;
		border-bottom-right-radius: 0.3125rem;
	}
	.primary-navigation ul ul li.menu-item-has-children > a::after {
		position: absolute;
		right: 1rem;
		content: '\00a0\f105';
		font-family: 'FontAwesome';
	}
	.primary-navigation ul ul li > ul {
		top: -2px;
		left: 100%;
		transform: translate3d(-1rem, 0, 0);
	}
	.primary-navigation ul li.menu-item-has-children.has-focus > ul,
	.primary-navigation ul li.menu-item-has-children:hover > ul {
		visibility: visible;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.primary-navigation ul li.menu-item-has-children.has-focus > ul::before,
	.primary-navigation ul li.menu-item-has-children:hover > ul::before {
		position: absolute;
		top: -1rem;
		display: block;
		height: 1rem;
		width: 100%;
		content: '';
	}
	.primary-navigation .sub-menu-toggle {
		display: none;
	}
}

/* Secondary navigation */
.secondary-navigation a {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	&:hover {
		color: $primary-color;
	}
}
.secondary-navigation ul {
	margin: 0 -0.5rem;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 0.875rem;
}
.secondary-navigation ul li {
	position: relative;
}
.secondary-navigation ul li.menu-item-has-children > a::after {
	content: '\00a0\f107';
	font-family: 'FontAwesome';
}
.secondary-navigation ul li.menu-item-has-children.has-focus > ul,
.secondary-navigation ul li.menu-item-has-children:hover > ul {
	visibility: visible;
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.secondary-navigation ul ul {
	@include rounded;
	position: absolute;
	z-index: 201;
	top: 100%;
	left: 0;
	display: block;
	min-width: 8.125rem;
	border: 1px solid;
	border-color: #e5e5e5;
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.11);
	white-space: nowrap;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0, -1rem, 0);
	transition: all 0.2s ease-out;
}
.secondary-navigation ul ul li {
	margin: 0;
	padding-bottom: 0;
}
.secondary-navigation ul ul li + li {
	border-top: 1px solid;
	border-color: #e5e5e5;
}
.secondary-navigation ul ul li a {
	display: block;
	padding: 0.75rem 1rem;
	margin: 0;
	font-weight: normal;
	transition: all 0.2s;
	&:hover {
		color: inherit;
		background-color: #e5e5e5;
	}
}

/* Footer navigation */
.footer-navigation ul {
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-size: 0.875rem;
}
.footer-navigation li {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* Social links icons */
.social-nav-links a::before {
	@include font-smoothing;
	font-family: 'typicons';
	font-size: 1.75rem;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	speak: none;
}
.social-nav-links a[href*="mailto"]                { font-size: 0; }
.social-nav-links a[href*="mailto"]::before        { content: '\e0e1'; }
.social-nav-links a[href*="dribbble.com"]          { font-size: 0; }
.social-nav-links a[href*="dribbble.com"]::before  { content: '\e0e3'; }
.social-nav-links a[href*="facebook.com"]          { font-size: 0; }
.social-nav-links a[href*="facebook.com"]::before  { content: '\e0e4'; }
.social-nav-links a[href*="flickr.com"]            { font-size: 0; }
.social-nav-links a[href*="flickr.com"]::before    { content: '\e0e6'; }
.social-nav-links a[href*="github.com"]            { font-size: 0; }
.social-nav-links a[href*="github.com"]::before    { content: '\e0e8'; }
.social-nav-links a[href*="google.com"]            { font-size: 0; }
.social-nav-links a[href*="google.com"]::before    { content: '\e0ea'; }
.social-nav-links a[href*="instagram.com"]         { font-size: 0; }
.social-nav-links a[href*="instagram.com"]::before { content: '\e0ec'; }
.social-nav-links a[href*="linkedin.com"]          { font-size: 0; }
.social-nav-links a[href*="linkedin.com"]::before  { content: '\e0f0'; }
.social-nav-links a[href*="pinterest.com"]         { font-size: 0; }
.social-nav-links a[href*="pinterest.com"]::before { content: '\e0f2'; }
.social-nav-links a[href*="skype"]                 { font-size: 0; }
.social-nav-links a[href*="skype"]::before         { content: '\e0f4'; }
.social-nav-links a[href*="tumblr.com"]            { font-size: 0; }
.social-nav-links a[href*="tumblr.com"]::before    { content: '\e0f6'; }
.social-nav-links a[href*="twitter.com"]           { font-size: 0; }
.social-nav-links a[href*="twitter.com"]::before   { content: '\e0f8'; }
.social-nav-links a[href*="vimeo.com"]             { font-size: 0; }
.social-nav-links a[href*="vimeo.com"]::before     { content: '\e0fa'; }
.social-nav-links a[href*="youtube.com"]           { font-size: 0; }
.social-nav-links a[href*="youtube.com"]::before   { content: '\e0fc'; }

/* Services navigation */
.services-navigation ul {
	border-top: 1px solid;
	font-size: 1.125rem;
}
.services-navigation ul li.menu-item {
	margin-bottom: 0;
}
.services-navigation ul li.menu-item > a {
	@include horizontal-dash-line(bottom, #ddd, 4px, 2px);
	display: block;
	padding: 0.75rem 1rem 0.6875rem;
	transition: all 0.2s ease;
}
.services-navigation ul li.menu-item > a:hover,
.services-navigation ul li.current-menu-item > a {
	background-color: #f5f5f5;
}
.services-navigation ul li.current-menu-item > a::before {
	content: '-';
	display: inline-block;
	margin-right: 0.5rem;
}
.services-navigation ul ul {
	display: none;
}

/* Loops pagination for archives and WooCommerce */
.pagination .nav-links,
.woocommerce nav.woocommerce-pagination ul {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	border: none;
	list-style: none;
}
.woocommerce nav.woocommerce-pagination ul li {
	display: block;
	float: none;
	border-right: none;
}
.pagination .nav-links a,
.pagination .nav-links span,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	@include rounded;
	@include font-smoothing;
	display: block;
	width: 2.875rem;
	height: 2.875rem;
	line-height: 2.875rem;
	padding: 0;
	margin: 0 0.375rem;
	border: 1px solid;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	color: #333;
	border-color: #c4c4c4;
	background-color: transparent;
}
.pagination .nav-links a:hover,
.pagination .nav-links a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus {
	color: #333;
	border-color: #333;
	background-color: transparent;
}
.pagination .nav-links span.current,
.woocommerce nav.woocommerce-pagination ul li span.current {
	color: #333;
	border-color: #e0e0e0;
	background-color: #e0e0e0;
	cursor: default;
}
.pagination .nav-links a.prev,
.pagination .nav-links a.next,
.woocommerce nav.woocommerce-pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.next {
	@include font-smoothing;
	position: absolute;
	margin-left: 0;
	margin-right: 0;
	font-size: 1.5rem;
	line-height: 2.625rem;
}
.pagination .nav-links a.prev,
.woocommerce nav.woocommerce-pagination ul li a.prev {
	left: 0;
}
.pagination .nav-links a.next,
.woocommerce nav.woocommerce-pagination ul li a.next {
	right: 0;
}
@media (min-width: $screen-sm-min) {
	.pagination .nav-links a,
	.pagination .nav-links span,
	.woocommerce nav.woocommerce-pagination ul li a,
	.woocommerce nav.woocommerce-pagination ul li span {
		margin-left: 0.75rem;
		margin-right: 0.75rem;
	}
	.pagination .nav-links a.prev,
	.pagination .nav-links a.next,
	.woocommerce nav.woocommerce-pagination ul li a.prev,
	.woocommerce nav.woocommerce-pagination ul li a.next {
		position: static;
		margin-left: 0.75rem;
		margin-right: 0.75rem;
	}
}
