/***** Visual Composer Overrides *****/
.vc_section {
	padding-top: 4.375rem !important;
	padding-bottom: 2.25rem !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.vc_row {
	margin-left: -1rem !important;
	margin-right: -1rem !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.vc_col-has-fill > .vc_column-inner {
	padding-top: 0;
}

/* VC Revolution Slider Element */
.wpb_revslider_element {
	margin-bottom: 0 !important;
}

/* VC Text Block element */
.wpb_text_column {
	margin-bottom: 2.75rem !important;
}
.wpb_text_column .wpb_wrapper > :first-child {
	margin-top: 0;
}
.wpb_text_column .wpb_wrapper > :last-child {
	margin-bottom: 0;
}

/* VC Google Maps Element */
.wpb_gmaps_widget .wpb_wrapper {
	padding: 0 !important;
}

/* WP Custom Menu Widget */
.vc_wp_custommenu ul {
	font-family: $font-family-heading;
	border-top: 1px solid;
	border-color: #e0e0e0;
}
.vc_wp_custommenu ul li {
	margin-bottom: 0;
	border-bottom: 1px solid;
	border-color: #e0e0e0;
}
.vc_wp_custommenu ul li a {
	display: block;
	padding-top: 1rem;
	padding-bottom: 1.125rem;
	transition: all 0.2s;
}
.vc_wp_custommenu ul li:hover a,
.vc_wp_custommenu ul li.current-menu-item a {
	padding-left: 1rem;
	padding-right: 1rem;
	color: $primary-color;
	background-color: #f5f5f5;
}

/***** Revolution Slider Overrides *****/
.rev_slider a.btn {
	@include button-shadow;
}
