/* Clearfix */
.clearfix { @include clearfix; }

/* Container */
.container       { @include container-fixed; }
.container-fluid { @include container; }
@media (min-width: $screen-sm-min) {
	.vc_row > .container {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Text utilities */
.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Responsive text alignment */
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }
.text-center { text-align: center !important; }
@each $bp in map-keys($breakpoints) {
	@media (min-width: #{map-get($breakpoints, $bp)}) {
		.text-#{$bp}-left   { text-align: left !important; }
		.text-#{$bp}-right  { text-align: right !important; }
		.text-#{$bp}-center { text-align: center !important; }
	}
}

/* Text transforms */
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

/* Weight and italics */
.font-weight-normal { font-weight: normal !important; }
.font-weight-bold   { font-weight: bold !important; }
.font-italic        { font-style: italic !important; }

/* Contextual colors */
.text-white   { color: #fff !important; }
.text-primary { color: $primary-color !important; }
.bg-primary   { background-color: $primary-color !important; }

/* Text color tweaks for dark backgrounds */
.dark-bg {
	@include font-smoothing;
	color: #fff;
}
.dark-bg h1,
.dark-bg h2,
.dark-bg h3 {
	color: #fff;
}

/* Responsive visibility */
@media (max-width: $screen-xs-max) {
	.hidden-xs { display: none !important; }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.hidden-sm { display: none !important; }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.hidden-md { display: none !important; }
}
@media (min-width: $screen-lg-min) {
	.hidden-lg { display: none !important; }
}

/* Responsive margins */
.mr-0 {
	margin-right: 0 !important;
}
.ml-0 {
	margin-left: 0 !important;
}
.mr-auto {
	margin-right: auto !important;
}
.ml-auto {
	margin-left: auto !important;
}
@media (min-width: $screen-sm-min) {
	.mr-sm-0 {
		margin-right: 0 !important;
	}
	.ml-sm-0 {
		margin-left: 0 !important;
	}
	.mr-sm-auto {
		margin-right: auto !important;
	}
	.ml-sm-auto {
		margin-left: auto !important;
	}
}
@media (min-width: $screen-md-min) {
	.mr-md-0 {
		margin-right: 0 !important;
	}
	.ml-md-0 {
		margin-left: 0 !important;
	}
	.mr-md-auto {
		margin-right: auto !important;
	}
	.ml-md-auto {
		margin-left: auto !important;
	}
}
@media (min-width: $screen-lg-min) {
	.mr-lg-0 {
		margin-right: 0 !important;
	}
	.ml-lg-0 {
		margin-left: 0 !important;
	}
	.mr-lg-auto {
		margin-right: auto !important;
	}
	.ml-lg-auto {
		margin-left: auto !important;
	}
}
