// Colors
$text-color:             #333;
$text-color-gray:        #828282;
$text-color-dark:        #000;
$primary-color:          #09f;
$primary-color-darker:   #0071bd;
$border-color:           #ddd;
$input-border-color:     #828282;
$shop-star-rating-color: #f2994a;

// Typography
$system-fonts-sans:     -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$system-fonts-serif:    'Apple Garamond', 'Baskerville', 'Georgia', 'Times New Roman', 'Roboto Slab', 'Droid Serif', 'Times', 'Source Serif Pro',  serif;
$system-fonts-mono:     Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-family-base:      'Open Sans', $system-fonts-sans;
$font-family-heading:   'Muli', $system-fonts-sans;
$font-family-menu:      $font-family-heading;
$font-family-monospace: $system-fonts-mono;

$line-height-base:      1.75;
$line-height-input:     1.5;
$line-height-computed:  ($line-height-base * 1rem);

$headings: (
	1: ( 2.5rem   normal  1.1   ),
	2: ( 2rem     normal  1.125 ),
	3: ( 1.75rem  normal  1.25  ),
	4: ( 1.5rem   normal  1.25  ),
	5: ( 1.25rem  600     1.25  ),
	6: ( 1rem     bold    1.25  ),
);

// Responsive container widths
$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

// Media queries breakpoints
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;

$breakpoints: (
	sm: $screen-sm-min,
	md: $screen-md-min,
	lg: $screen-lg-min
);
