/* Widgets */
.widget:not(.widget_text) a {
	color: #333;
}
.widget:not(.widget_text) a:hover {
	color: $primary-color;
}
.widget ul {
	list-style: none;
	padding-left: 0;
}
.widget-title,
.widgettitle {
	margin-top: 0;
	margin-bottom: 2rem;
	font-size: 1.375rem;
}

/* Calendar Widget */
.widget_calendar table,
.widget_calendar thead,
.widget_calendar tfoot,
.widget_calendar tr,
.widget_calendar td,
.widget_calendar th {
	border: 0;
}
.widget_calendar table {
	max-width: 22rem;
	line-height: $line-height-base;
	border-collapse: collapse;
}
.widget_calendar table caption {
	margin-bottom: 0.75rem;
}
.widget_calendar th,
.widget_calendar td {
	padding: 0.5rem;
	font-style: inherit;
	text-align: center;
}
.widget_calendar td {
	color: #999;
}
.widget_calendar tr:first-child td {
	padding-top: 1em;
}
.widget_calendar tfoot td:first-child {
	text-align: left;
}
.widget_calendar tfoot td:last-child {
	text-align: right;
}

/* List widgets */
.widget_archive ul,
.widget_categories ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
	margin-bottom: 0;
}
.widget_archive ul li,
.widget_categories ul li,
.widget_meta ul li,
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
	margin-bottom: 0.5rem;
}
.widget_categories ul ul,
.widget_nav_menu ul ul,
.widget_pages ul ul {
	display: none;
}

/* Recent Comments widget */
.widget_recent_comments ul {
	color: $text-color-gray;
}

/* Recent Posts widget */
.widget_recent_entries .post-date {
	display: block;
	color: #999;
}

/* RSS widget */
.widget_rss ul li {
	margin-bottom: 0.75rem;
}

/* Text widget */
.widget_text .textwidget > :first-child {
	margin-top: 0;
}
.widget_text .textwidget > :last-child {
	margin-bottom: 0;
}

/* Widgets in Sidebar */
.sidebar-content {
	font-size: 0.875rem;
	line-height: 1.5;
	color: #333;
}
.sidebar-content .widget {
	margin-bottom: 2.5rem;
}
.sidebar-content .widget:last-child,
.sidebar-content .widget > :last-child {
	margin-bottom: 0;
}
.sidebar-content .widget-title {
	margin-bottom: 1.125rem;
	font-size: 1.3125rem;
}

/* Widgets in Footer */
.footer-widgets .widget {
	margin-bottom: 1.875rem;
}
.footer-widgets .widget-title {
	margin-bottom: 1.125rem;
	font-size: 1.5rem;
}
.footer-widgets .widget-title::after {
	display: block;
	width: 4.625rem;
	margin-top: 1.125rem;
	border-bottom: 2px solid;
	border-color: $primary-color;
	content: '';
}
.footer-widgets .widget_pages ul,
.footer-widgets .widget_nav_menu ul {
	display: flex;
	flex-flow: row wrap;
}
.footer-widgets .widget_pages ul li,
.footer-widgets .widget_nav_menu ul li {
	width: 50%;
	padding-right: 1rem;
}
.footer-widgets .widget_pages ul ul,
.footer-widgets .widget_nav_menu ul ul {
	display: none;
}
.footer-widgets .widget_recent_entries a {
	font-weight: bold;
}
