html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-bottom: 50px;
}
.entry-content {
    width: 100%;
}
.entry-content .container.clearfix {
    width: auto;
    padding: 0;
}

.download-file {
    display: flex;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .2);
    margin-top: 50px;
    position: relative;
    transition: .2s all;
    max-height: 130px;
}

.download-file:hover {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .25);
}

/*.download-file .link-file {*/
/*position: absolute;*/
/*left: 0;*/
/*top: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*content: '';*/
/*}*/
.download-img {
    min-width: 130px;
    padding: 15px;
}

.download-img img {
    width: 100%;
    height: 100%;
}

.download-file-name {
    width: 100%;
    padding: 15px;
    border: solid #eaeaea;
    border-width: 0 1px;
    overflow: hidden;
    position: relative;
}

.download-file-name:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(rgba(255, 255, 255, .6), #fff);
}

.download-file-name h3 {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.download-file-name p {
    font-size: 13px;
}

.download-btn {
    min-width: 190px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-btn a {
    padding: 10px 20px;

}

/*.download-btn a {*/
/*background-color: #009ee2;*/
/*color: #ffffff;*/
/*padding: 10px 20px;*/
/*border-radius: 3px;*/
/*transition: .3s all;*/
/*font-size: 14px;*/
/*}*/
/*.download-btn a:hover {*/
/*background: #f5b233;*/
/*color: #ffffff;*/
/*}*/

/*MASONRY GALLERY*/
.masonry-gallery {
    padding-bottom: 40px;
}

.masonry-gallery .masonry-wrapper {
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: masonry-gallery;
    animation-name: masonry-gallery;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
}

@keyframes masonry-gallery {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -100%;
    }
}

.grid-item--width2 {
    width: 380px;
}

.grid-item--width3 {
    width: 790px;
}

.grid-item--width4 {
    width: 790px;
}

.grid-item--height2 {
    height: 285px;
}

.grid-item--height3 {
    height: 285px;
}

.grid-item--height4 {
    height: 600px;
}

.masonry-gallery .masonry-slide {
    width: auto;
    height: 600px;
}

.masonry-slide img {
    display: block;
    object-fit: cover;
    position: relative;
}

.masonry-slide a:hover:before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, .4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.group-slide-row {
    padding-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.group-slide-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}

.masonry-item {
    position: relative;
}

.masonry-item .link-popup {
    position: relative;
    display: block;
    z-index: 10;
}

.masonry-slide .masonry-item:hover:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 2;
}

@media (max-width: 767px) {
    .download-file {
        flex-direction: column;
        max-height: 100%;
    }
    .download-img {
        text-align: center;
    }
    .download-img img {
        width: 130px;
        height: 130px;
    }
    .download-file-name {
        border: 1px solid #eaeaea;
    }
    .download-file-name h3 {
        font-size: 18px;
    }
    .download-file-name p {
        max-height: 100px;
    }
}

@media (max-width: 1600px) {
    .grid-item--width4 {
        width: 500px;
    }

    .grid-item--width3 {
        width: 600px;
    }

    .grid-item--width2 {
        width: 285px;
    }

    .grid-item--height4 {
        height: 430px;
    }

    .grid-item--height2 {
        height: 200px;
    }

    .grid-item--height3 {
        height: 200px;
    }

    .masonry-gallery .masonry-slide {
        height: 430px;
    }
}

@media (max-width: 480px) {
    .caption-border {
        font-size: 25px;
    }

    .grid-item--width4 {
        width: 250px;
    }

    .grid-item--width3 {
        width: 300px;
    }

    .grid-item--width2 {
        width: 145px;
    }

    .grid-item--height4 {
        height: 230px;
    }

    .grid-item--height2 {
        height: 110px;
    }

    .grid-item--height3 {
        height: 110px;
    }

    .masonry-gallery .masonry-slide {
        height: 230px;
    }

    .group-slide-row {
        padding-top: 5px;
    }
}

/*MASONRY GALLERY*/