#thelayer-editor-wrapper .slide_layer,
#wpb_visual_composer,
#tinymce.mce-content-body {
  /* Clearfix */
  /* Container */
  /* Text utilities */
  /* Responsive text alignment */
  /* Text transforms */
  /* Weight and italics */
  /* Contextual colors */
  /* Text color tweaks for dark backgrounds */
  /* Responsive visibility */
  /* Responsive margins */
}

#thelayer-editor-wrapper .slide_layer .btn,
#wpb_visual_composer .btn,
#tinymce.mce-content-body .btn {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
  position: relative;
  display: inline-block;
  padding: 0.625rem 2.125rem;
  border: 2px solid;
  border-color: #09f;
  border-radius: 0.25rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #09f;
  background-color: #fff;
}

#thelayer-editor-wrapper .slide_layer .btn:hover, #thelayer-editor-wrapper .slide_layer .btn:focus,
#wpb_visual_composer .btn:hover,
#wpb_visual_composer .btn:focus,
#tinymce.mce-content-body .btn:hover,
#tinymce.mce-content-body .btn:focus {
  color: #09f;
  background-color: #f3f3f3;
}

#thelayer-editor-wrapper .slide_layer .btn-primary,
#wpb_visual_composer .btn-primary,
#tinymce.mce-content-body .btn-primary {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #09f;
}

#thelayer-editor-wrapper .slide_layer .btn-primary:hover, #thelayer-editor-wrapper .slide_layer .btn-primary:focus,
#wpb_visual_composer .btn-primary:hover,
#wpb_visual_composer .btn-primary:focus,
#tinymce.mce-content-body .btn-primary:hover,
#tinymce.mce-content-body .btn-primary:focus {
  color: #fff;
  background-color: #0071bd;
  border-color: #0071bd;
}

#thelayer-editor-wrapper .slide_layer .btn-disabled,
#thelayer-editor-wrapper .slide_layer .btn:disabled,
#thelayer-editor-wrapper .slide_layer .btn:disabled[disabled],
#wpb_visual_composer .btn-disabled,
#wpb_visual_composer .btn:disabled,
#wpb_visual_composer .btn:disabled[disabled],
#tinymce.mce-content-body .btn-disabled,
#tinymce.mce-content-body .btn:disabled,
#tinymce.mce-content-body .btn:disabled[disabled] {
  color: #bdbdbd;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

#thelayer-editor-wrapper .slide_layer .btn-disabled:hover, #thelayer-editor-wrapper .slide_layer .btn-disabled:focus,
#thelayer-editor-wrapper .slide_layer .btn:disabled:hover,
#thelayer-editor-wrapper .slide_layer .btn:disabled:focus,
#thelayer-editor-wrapper .slide_layer .btn:disabled[disabled]:hover,
#thelayer-editor-wrapper .slide_layer .btn:disabled[disabled]:focus,
#wpb_visual_composer .btn-disabled:hover,
#wpb_visual_composer .btn-disabled:focus,
#wpb_visual_composer .btn:disabled:hover,
#wpb_visual_composer .btn:disabled:focus,
#wpb_visual_composer .btn:disabled[disabled]:hover,
#wpb_visual_composer .btn:disabled[disabled]:focus,
#tinymce.mce-content-body .btn-disabled:hover,
#tinymce.mce-content-body .btn-disabled:focus,
#tinymce.mce-content-body .btn:disabled:hover,
#tinymce.mce-content-body .btn:disabled:focus,
#tinymce.mce-content-body .btn:disabled[disabled]:hover,
#tinymce.mce-content-body .btn:disabled[disabled]:focus {
  color: #bdbdbd;
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

#thelayer-editor-wrapper .slide_layer .btn-large,
#wpb_visual_composer .btn-large,
#tinymce.mce-content-body .btn-large {
  padding: 0.75rem 2.375rem;
  border-width: 2px;
  border-radius: 0.3125rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  font-size: 1rem;
}

#thelayer-editor-wrapper .slide_layer .btn-small,
#wpb_visual_composer .btn-small,
#tinymce.mce-content-body .btn-small {
  padding: 0.5rem 1.5rem;
  border-width: 1px;
  font-size: 0.875rem;
}

#thelayer-editor-wrapper .slide_layer .clearfix:before, #thelayer-editor-wrapper .slide_layer .clearfix:after,
#wpb_visual_composer .clearfix:before,
#wpb_visual_composer .clearfix:after,
#tinymce.mce-content-body .clearfix:before,
#tinymce.mce-content-body .clearfix:after {
  content: " ";
  display: table;
}

#thelayer-editor-wrapper .slide_layer .clearfix:after,
#wpb_visual_composer .clearfix:after,
#tinymce.mce-content-body .clearfix:after {
  clear: both;
}

#thelayer-editor-wrapper .slide_layer .container,
#wpb_visual_composer .container,
#tinymce.mce-content-body .container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  #thelayer-editor-wrapper .slide_layer .container,
  #wpb_visual_composer .container,
  #tinymce.mce-content-body .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  #thelayer-editor-wrapper .slide_layer .container,
  #wpb_visual_composer .container,
  #tinymce.mce-content-body .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #thelayer-editor-wrapper .slide_layer .container,
  #wpb_visual_composer .container,
  #tinymce.mce-content-body .container {
    width: 1170px;
  }
}

#thelayer-editor-wrapper .slide_layer .container-fluid,
#wpb_visual_composer .container-fluid,
#tinymce.mce-content-body .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  #thelayer-editor-wrapper .slide_layer .vc_row > .container,
  #wpb_visual_composer .vc_row > .container,
  #tinymce.mce-content-body .vc_row > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

#thelayer-editor-wrapper .slide_layer .text-justify,
#wpb_visual_composer .text-justify,
#tinymce.mce-content-body .text-justify {
  text-align: justify !important;
}

#thelayer-editor-wrapper .slide_layer .text-nowrap,
#wpb_visual_composer .text-nowrap,
#tinymce.mce-content-body .text-nowrap {
  white-space: nowrap !important;
}

#thelayer-editor-wrapper .slide_layer .text-truncate,
#wpb_visual_composer .text-truncate,
#tinymce.mce-content-body .text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#thelayer-editor-wrapper .slide_layer .text-left,
#wpb_visual_composer .text-left,
#tinymce.mce-content-body .text-left {
  text-align: left !important;
}

#thelayer-editor-wrapper .slide_layer .text-right,
#wpb_visual_composer .text-right,
#tinymce.mce-content-body .text-right {
  text-align: right !important;
}

#thelayer-editor-wrapper .slide_layer .text-center,
#wpb_visual_composer .text-center,
#tinymce.mce-content-body .text-center {
  text-align: center !important;
}

@media (min-width: 768px) {
  #thelayer-editor-wrapper .slide_layer .text-sm-left,
  #wpb_visual_composer .text-sm-left,
  #tinymce.mce-content-body .text-sm-left {
    text-align: left !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-sm-right,
  #wpb_visual_composer .text-sm-right,
  #tinymce.mce-content-body .text-sm-right {
    text-align: right !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-sm-center,
  #wpb_visual_composer .text-sm-center,
  #tinymce.mce-content-body .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  #thelayer-editor-wrapper .slide_layer .text-md-left,
  #wpb_visual_composer .text-md-left,
  #tinymce.mce-content-body .text-md-left {
    text-align: left !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-md-right,
  #wpb_visual_composer .text-md-right,
  #tinymce.mce-content-body .text-md-right {
    text-align: right !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-md-center,
  #wpb_visual_composer .text-md-center,
  #tinymce.mce-content-body .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  #thelayer-editor-wrapper .slide_layer .text-lg-left,
  #wpb_visual_composer .text-lg-left,
  #tinymce.mce-content-body .text-lg-left {
    text-align: left !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-lg-right,
  #wpb_visual_composer .text-lg-right,
  #tinymce.mce-content-body .text-lg-right {
    text-align: right !important;
  }
  #thelayer-editor-wrapper .slide_layer .text-lg-center,
  #wpb_visual_composer .text-lg-center,
  #tinymce.mce-content-body .text-lg-center {
    text-align: center !important;
  }
}

#thelayer-editor-wrapper .slide_layer .text-lowercase,
#wpb_visual_composer .text-lowercase,
#tinymce.mce-content-body .text-lowercase {
  text-transform: lowercase !important;
}

#thelayer-editor-wrapper .slide_layer .text-uppercase,
#wpb_visual_composer .text-uppercase,
#tinymce.mce-content-body .text-uppercase {
  text-transform: uppercase !important;
}

#thelayer-editor-wrapper .slide_layer .text-capitalize,
#wpb_visual_composer .text-capitalize,
#tinymce.mce-content-body .text-capitalize {
  text-transform: capitalize !important;
}

#thelayer-editor-wrapper .slide_layer .font-weight-normal,
#wpb_visual_composer .font-weight-normal,
#tinymce.mce-content-body .font-weight-normal {
  font-weight: normal !important;
}

#thelayer-editor-wrapper .slide_layer .font-weight-bold,
#wpb_visual_composer .font-weight-bold,
#tinymce.mce-content-body .font-weight-bold {
  font-weight: bold !important;
}

#thelayer-editor-wrapper .slide_layer .font-italic,
#wpb_visual_composer .font-italic,
#tinymce.mce-content-body .font-italic {
  font-style: italic !important;
}

#thelayer-editor-wrapper .slide_layer .text-white,
#wpb_visual_composer .text-white,
#tinymce.mce-content-body .text-white {
  color: #fff !important;
}

#thelayer-editor-wrapper .slide_layer .text-primary,
#wpb_visual_composer .text-primary,
#tinymce.mce-content-body .text-primary {
  color: #09f !important;
}

#thelayer-editor-wrapper .slide_layer .bg-primary,
#wpb_visual_composer .bg-primary,
#tinymce.mce-content-body .bg-primary {
  background-color: #09f !important;
}

#thelayer-editor-wrapper .slide_layer .dark-bg,
#wpb_visual_composer .dark-bg,
#tinymce.mce-content-body .dark-bg {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

#thelayer-editor-wrapper .slide_layer .dark-bg h1,
#thelayer-editor-wrapper .slide_layer .dark-bg h2,
#thelayer-editor-wrapper .slide_layer .dark-bg h3,
#wpb_visual_composer .dark-bg h1,
#wpb_visual_composer .dark-bg h2,
#wpb_visual_composer .dark-bg h3,
#tinymce.mce-content-body .dark-bg h1,
#tinymce.mce-content-body .dark-bg h2,
#tinymce.mce-content-body .dark-bg h3 {
  color: #fff;
}

@media (max-width: 767px) {
  #thelayer-editor-wrapper .slide_layer .hidden-xs,
  #wpb_visual_composer .hidden-xs,
  #tinymce.mce-content-body .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #thelayer-editor-wrapper .slide_layer .hidden-sm,
  #wpb_visual_composer .hidden-sm,
  #tinymce.mce-content-body .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #thelayer-editor-wrapper .slide_layer .hidden-md,
  #wpb_visual_composer .hidden-md,
  #tinymce.mce-content-body .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  #thelayer-editor-wrapper .slide_layer .hidden-lg,
  #wpb_visual_composer .hidden-lg,
  #tinymce.mce-content-body .hidden-lg {
    display: none !important;
  }
}

#thelayer-editor-wrapper .slide_layer .mr-0,
#wpb_visual_composer .mr-0,
#tinymce.mce-content-body .mr-0 {
  margin-right: 0 !important;
}

#thelayer-editor-wrapper .slide_layer .ml-0,
#wpb_visual_composer .ml-0,
#tinymce.mce-content-body .ml-0 {
  margin-left: 0 !important;
}

#thelayer-editor-wrapper .slide_layer .mr-auto,
#wpb_visual_composer .mr-auto,
#tinymce.mce-content-body .mr-auto {
  margin-right: auto !important;
}

#thelayer-editor-wrapper .slide_layer .ml-auto,
#wpb_visual_composer .ml-auto,
#tinymce.mce-content-body .ml-auto {
  margin-left: auto !important;
}

@media (min-width: 768px) {
  #thelayer-editor-wrapper .slide_layer .mr-sm-0,
  #wpb_visual_composer .mr-sm-0,
  #tinymce.mce-content-body .mr-sm-0 {
    margin-right: 0 !important;
  }
  #thelayer-editor-wrapper .slide_layer .ml-sm-0,
  #wpb_visual_composer .ml-sm-0,
  #tinymce.mce-content-body .ml-sm-0 {
    margin-left: 0 !important;
  }
  #thelayer-editor-wrapper .slide_layer .mr-sm-auto,
  #wpb_visual_composer .mr-sm-auto,
  #tinymce.mce-content-body .mr-sm-auto {
    margin-right: auto !important;
  }
  #thelayer-editor-wrapper .slide_layer .ml-sm-auto,
  #wpb_visual_composer .ml-sm-auto,
  #tinymce.mce-content-body .ml-sm-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 992px) {
  #thelayer-editor-wrapper .slide_layer .mr-md-0,
  #wpb_visual_composer .mr-md-0,
  #tinymce.mce-content-body .mr-md-0 {
    margin-right: 0 !important;
  }
  #thelayer-editor-wrapper .slide_layer .ml-md-0,
  #wpb_visual_composer .ml-md-0,
  #tinymce.mce-content-body .ml-md-0 {
    margin-left: 0 !important;
  }
  #thelayer-editor-wrapper .slide_layer .mr-md-auto,
  #wpb_visual_composer .mr-md-auto,
  #tinymce.mce-content-body .mr-md-auto {
    margin-right: auto !important;
  }
  #thelayer-editor-wrapper .slide_layer .ml-md-auto,
  #wpb_visual_composer .ml-md-auto,
  #tinymce.mce-content-body .ml-md-auto {
    margin-left: auto !important;
  }
}

@media (min-width: 1200px) {
  #thelayer-editor-wrapper .slide_layer .mr-lg-0,
  #wpb_visual_composer .mr-lg-0,
  #tinymce.mce-content-body .mr-lg-0 {
    margin-right: 0 !important;
  }
  #thelayer-editor-wrapper .slide_layer .ml-lg-0,
  #wpb_visual_composer .ml-lg-0,
  #tinymce.mce-content-body .ml-lg-0 {
    margin-left: 0 !important;
  }
  #thelayer-editor-wrapper .slide_layer .mr-lg-auto,
  #wpb_visual_composer .mr-lg-auto,
  #tinymce.mce-content-body .mr-lg-auto {
    margin-right: auto !important;
  }
  #thelayer-editor-wrapper .slide_layer .ml-lg-auto,
  #wpb_visual_composer .ml-lg-auto,
  #tinymce.mce-content-body .ml-lg-auto {
    margin-left: auto !important;
  }
}

#thelayer-editor-wrapper .slide_layer .btn,
#wpb_visual_composer .btn,
#tinymce.mce-content-body .btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#thelayer-editor-wrapper .slide_layer .btn,
#wpb_visual_composer .btn {
  pointer-events: none;
}

#tinymce.mce-content-body a.btn {
  -ms-user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
}

#wpb_visual_composer .text-white,
#tinymce.mce-content-body .text-white {
  color: inherit !important;
}

#wpb_visual_composer .wpb_vc_param_value.textarea_html {
  clear: both;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#wpb_visual_composer .wpb_nur_pricing_box .textarea_html {
  text-align: center;
}
